* {
    box-sizing: border-box;
    text-align: center;}

body {
    background-color: rgb(231, 220, 206);
    font-family: "Iosevka Nerd Font";}

nav {
    display: flex;
    justify-content: space-around;
}


h1,h2,h4 {
    text-align: center;
    color: rgb(116, 9, 9);}

h1 {
    font-size: 4rem;}


.logo img {
    height: auto;
    width: 40%; }


a:link {
    color:green }

a:visited {
    color: crimson;}

a:hover {
    color:crimson}

a {
    font-size: 24px;
    background-color: rgb(231, 220, 206);
    padding: 2px;
   
}


.recipes {
    border: 2px solid black;
    margin: 8px 48px;
    padding: 12px;
}

.recipes:hover {color: white;
    background-color: crimson;

}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    border: 2px dotted black;
    
}

.container a {
    flex: 1;

    
}